<div id="header">
    <a id="logo" href="/">
        <img src="/images/logo.png">
        <span>Bearcat 熊猫框架</span>
    </a>
    <ul id="nav">
        <%- partial('partials/main_menu') %>
    </ul>
</div>