<% if (page.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript><a href="http://disqus.com/?ref_noscript">请开启浏览器JavaScript支持再浏览本页面.</a></noscript>
  </div>
</section>
<% } %>